<head>
    <style>
        span {
            font-family: Verdana;
        }

        table {
            border-collapse: collapse;
        }

        table,
        td,
        th {
            border: 1px solid black;
        }
    </style>
</head>

<body>
    <div style="margin: 20px;">
        <div style="margin-top: 20px; text-align: right;"><span style="font-size: 7px ;">ORIGINAL FORRECIPIENT</span>
        </div><br>
        <div style="text-align: center; border: 1px;border-style: solid;"><span style="font-size: 12px ;"> TAX
                INVOICE</span><span style="font-size: 8px ;">Under Rule 1 of Tax Invoice, Credit and Debit Notes Rules,
                2017 read with Section 31 of CGST Act, 2017</span></div>
        <div style="border: 1px;border-style: solid; padding: 10px;"><span style="font-size: bold 20px ;">PK
                Engineering</span><br><span style="font-size: 10px  ;">Shop No. 494/04, Opp. Electro Pneumatic,
                Kharabwadi, Chakan Tal. Khed,Dist.Pune 410501</span><br><span style="font-size: 10px  ;">Email
                :ykhodade@gmail.com, Phone :+919767878505</span></div>
        <div style="display: flex;">
            <div style="border: 1px;border-style: solid; width: 50%;">
                <div style="display: flex; margin: 10px;"><span style="font-size: 10px  ;width: 25%;">GST
                        No.</span><span style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong>27BJFPK6140L1Z0</strong></span></div>
                <div style="display: flex;margin: 10px;"><span style="font-size: 10px  ;width: 25%;">CIN No</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong></strong></span></div>
                <div style="display: flex;margin: 10px;"><span style="font-size: 10px  ;width: 25%;">Pan No.</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong></strong></span></div>
                <div style="display: flex;margin: 10px;"><span style="font-size: 10px  ;width: 25%;">State
                        Name</span><span style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong>Maharashtra</strong></span></div>
                <div style="display: flex;margin: 10px;"><span style="font-size: 10px  ;width: 25%;">State
                        Code</span><span style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong>27</strong></span></div>
            </div>
            <div style="border: 1px;border-style: solid; width: 50%;">
                <div style="display: flex;margin-bottom: 10px;width: 50%;margin: 10px;"><span
                        style="font-size: 10px  ;width: 25%;">Inv No.</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong>99</strong></span></div>
                <div style="display: flex;margin-bottom: 10px;margin: 10px;">
                    <div style="display: flex;margin-bottom: 10px;width: 50%;"><span
                            style="font-size: 10px  ;width: 25%;">Date</span><span
                            style="font-size: 10px  ;width: 5%;">:</span><span
                            style="font-size: 10px  ;width: 70%;"><strong>08/09/2020</strong></span></div>
                    <div style="display: flex;margin-bottom: 10px;width: 50%;"><span
                            style="font-size: 10px  ;width: 25%;">Time</span><span
                            style="font-size: 10px  ;width: 5%;">:</span><span
                            style="font-size: 10px  ;width: 70%;"><strong>04:27 AM</strong></span></div>
                </div>
                <div style="border: 1px;border-style: solid;">
                    <div style="display: flex;margin: 10px;">
                        <div style="display: flex;width: 50%;"><span style="font-size: 10px  ;width: 25%;">PO
                                no.</span><span style="font-size: 10px  ;width: 5%;">:</span><span
                                style="font-size: 10px  ;width: 70%;"><strong>NJ-298-WEB</strong></span></div>
                        <div style="display: flex;width: 50%;"><span
                                style="font-size: 10px  ;width: 25%;">Date</span><span
                                style="font-size: 10px  ;width: 5%;">:</span><span
                                style="font-size: 10px  ;width: 70%;"><strong>24/08/2020</strong></span></div>
                    </div>
                    <div style="display: flex;margin: 10px;">
                        <div style="display: flex;width: 50%;"><span style="font-size: 10px  ;width: 25%;">CH
                                no.</span><span style="font-size: 10px  ;width: 5%;">:</span><span
                                style="font-size: 10px  ;width: 70%;"><strong>99</strong></span></div>
                        <div style="display: flex;width: 50%;"><span
                                style="font-size: 10px  ;width: 25%;">Date</span><span
                                style="font-size: 10px  ;width: 5%;">:</span><span
                                style="font-size: 10px  ;width: 70%;"><strong>08/09/2020</strong></span></div>
                    </div>
                    <div style="display: flex;margin: 10px;"><span style="font-size: 10px  ;width: 25%;">Vender
                            Code</span><span style="font-size: 10px  ;width: 5%;">:</span><span
                            style="font-size: 10px  ;width: 70%;"><strong></strong></span></div>
                </div>
            </div>
        </div>
        <div style="display: flex;">
            <div style="border: 1px;border-style: solid; padding: 10px;width: 50%;"><span style="font-size: 12px ;">Name
                    of Buyer : (Billed To)</span><br><span style="font-size: bold 14px ;">Mahindra Auto</span><br><br>
                <div style="display: flex;"><span style="font-size: 10px  ;width: 25%;">GST No.</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong>27JBA23MV65</strong></span></div>
                <div style="display: flex;"><span style="font-size: 10px  ;width: 25%;">Pan No.</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong></strong></span></div>
                <div style="display: flex;"><span style="font-size: 10px  ;width: 25%;">State Name</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong>Maharashtra</strong></span></div>
                <div style="display: flex;"><span style="font-size: 10px  ;width: 25%;">State Code</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong>27</strong></span></div>
            </div>
            <div style="border: 1px;border-style: solid; padding: 10px;width: 50%;"><span style="font-size: 12px ;">Name
                    of Consignee : (Shipped To)</span><br><span style="font-size: bold 14px ;">Mahindra
                    Auto</span><br><br>
                <div style="display: flex;"><span style="font-size: 10px  ;width: 25%;">GST No.</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong>27JBA23MV65</strong></span></div>
                <div style="display: flex;"><span style="font-size: 10px  ;width: 25%;">Pan No.</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong></strong></span></div>
                <div style="display: flex;"><span style="font-size: 10px  ;width: 25%;">State Name</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong>Maharashtra</strong></span></div>
                <div style="display: flex;"><span style="font-size: 10px  ;width: 25%;">State Code</span><span
                        style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 70%;"><strong>27</strong></span></div>
            </div>
        </div>
        <div style="display: flex;">
            <div style="border: 1px;border-style: solid; padding: 10px;width: 50%;">
                <div style="display: flex;"><span style="font-size: 10px  ;width: 50%;"><strong>Place of
                            Supply</strong></span><span style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 45%;">Pune</span></div>
                <div style="display: flex;"><span style="font-size: 10px  ;width: 70%;"><strong>Tax is payable on
                            reverse charge</strong></span><span style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 25%;"><strong>No</strong></span></div>
            </div>
            <div style="border: 1px;border-style: solid; padding: 10px;width: 50%;">
                <div style="display: flex;"><span style="font-size: 10px  ;width: 50%;"><strong>Transporter
                            Mode</strong></span><span style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 45%;"></span></div>
                <div style="display: flex;"><span style="font-size: 10px  ;width: 50%;"><strong>Vehicle
                            No.</strong></span><span style="font-size: 10px  ;width: 5%;">:</span><span
                        style="font-size: 10px  ;width: 45%;"><strong></strong></span></div>
            </div>
        </div>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td style="font-size: 10px  ;width:4%; text-align:center;height: 30;">SNo</td>
                    <td style="font-size: 10px  ;width:25%; text-align:center;height: 30;">Description</td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;height: 30;">Your ChNo</td>
                    <td style="font-size: 10px  ;width:8%; text-align:center;height: 30;">SAC No</td>
                    <td style="font-size: 10px  ;width:10%; text-align:center;height: 30;">Qty</td>
                    <td style="font-size: 10px  ;width:8%; text-align:center;height: 30;">Unit</td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;height: 30;">Rate</td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;height: 30;">Amount</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td style="font-size: 12px  ; width: 4%; text-align: center; height: 30;">
                        <p>&nbsp;</p>
                        <p>1</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </td>
                    <td style="font-size: 12px  ; width: 25%; text-align: center; height: 30;">
                        <p>&nbsp;</p>
                        <p>Job Type 5308</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </td>
                    <td style="font-size: 12px  ; width: 15%; text-align: center; height: 30;">
                        <p>&nbsp;</p>
                        <p>002789<br>24/08/2020</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </td>
                    <td style="font-size: 12px  ; width: 8%; text-align: center; height: 30;">&nbsp;</td>
                    <td style="font-size: 12px  ; width: 10%; text-align: center; height: 30;">
                        <p>&nbsp;</p>
                        <p>1000</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </td>
                    <td style="font-size: 12px  ; width: 8%; text-align: center; height: 30;">
                        <p>&nbsp;</p>
                        <p>Nos</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </td>
                    <td style="font-size: 12px  ; width: 15%; text-align: center; height: 30;">
                        <p>&nbsp;</p>
                        <p>4</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </td>
                    <td style="font-size: 12px  ; width: 15%; text-align: center; height: 30;">
                        <p>&nbsp;</p>
                        <p>4000</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td style="font-size: 10px  ;width:62%; ;">
                        <div style="display: flex;">
                            <div style="display: flex;width: 73%;padding-left: 10px;"><span
                                    style="font-size: 10px  ;width: 50%;"><strong>Payment Terms</strong></span><span
                                    style="font-size: 10px  ;width: 5%;">:</span><span
                                    style="font-size: 10px  ;width: 45%;">60 Days</span></div>
                            <div style="display: flex;width:27%;"><span style="font-size: 10px  ;width: 60%;">Total
                                    Qty</span><span style="font-size: 10px  ;width: 40%;"><strong>1000</strong></span>
                            </div>
                        </div>
                    </td>
                    <td style="font-size: 10px  ;width:23%; text-align:center;"><strong>Assessable Value</strong></td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;"><span
                            style="font-size: 14px bold ;"><strong>4000</strong></span></td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td style="font-size: 10px  ;width:62%;">
                        <div style="display: flex;padding-left: 10px;"><span
                                style="font-size: 9px  ;width: 30%;"><strong>Central GST Inwords</strong></span><span
                                style="font-size: 9px  ;width: 5%;">:</span><span
                                style="font-size: 8px  ;width: 65%;">Rupees Two Hundred eighty Only</span></div>
                    </td>
                    <td style="font-size: 10px  ;width:23%; text-align:center;">Discount (0.00%)</td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;">0.00</td>
                </tr>
                <tr>
                    <td style="font-size: 10px  ;width:62%;">
                        <div style="display: flex;width: 73%;"><span style="font-size: 10px  ;width: 65%;"></span></div>
                    </td>
                    <td style="font-size: 10px  ;width:23%; text-align:center;">Packing & For (0.00%)</td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;">0.00</td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td style="font-size: 10px  ;width:62%;">
                        <div style="display: flex;padding-left: 10px;"><span
                                style="font-size: 9px  ;width: 30%;"><strong>State GST Inwords</strong></span><span
                                style="font-size: 9px  ;width: 5%;">:</span><span
                                style="font-size: 8px  ;width: 65%;">Rupees Two Hundred eighty Only</span></div>
                    </td>
                    <td style="font-size: 10px  ;width:23%; text-align:center;">Freight Charges</td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;">0.00</td>
                </tr>
                <tr>
                    <td style="font-size: 10px  ;width:62%;">
                        <div style="display: flex;width: 73%;"><span style="font-size: 10px  ;width: 65%;"></span></div>
                    </td>
                    <td style="font-size: 10px  ;width:23%; text-align:center;">Transport Charges</td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;">0.00</td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td style="font-size: 10px  ;width:62%;">
                        <div style="display: flex;padding-left: 10px;"><span
                                style="font-size: 9px  ;width: 50%;"><strong>Integrated GST Inword</strong></span><span
                                style="font-size: 9px  ;width: 5%;">:</span><span
                                style="font-size: 8px  ;width: 65%;"></span></div>
                    </td>
                    <td style="font-size: 10px  ;width:23%; text-align:center;">Extra Charges</td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;">0.00</td>
                </tr>
                <tr>
                    <td style="font-size: 10px  ;width:62%;">
                        <div style="display: flex;width: 73%;"><span style="font-size: 10px  ;width: 65%;"></span></div>
                    </td>
                    <td style="font-size: 10px  ;width:23%; text-align:center;"><strong>Sub Total</strong></td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;"><span
                            style="font-size: 14px bold ;"><strong>4000</strong></span></td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%;">
            <tbody>
                <tr>
                    <td style="font-size: 10px  ;width:62%;">
                        <div style="display: flex;padding-left: 10px;"><span
                                style="font-size: 9px  ;width: 30%;"><strong>Amount Inwords</strong></span><span
                                style="font-size: 9px  ;width: 5%;">:</span><span
                                style="font-size: 8px  ;width: 65%;">Rupees Four Thousand, Four hundred Eighty
                                Only</span></div>
                    </td>
                    <td style="font-size: 10px  ;width:23%; text-align:center;">Central GST (6%)</td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;"><span
                            style="font-size: 14px bold ;"><strong>240</strong></span></td>
                </tr>
                <tr>
                    <td style="font-size: 10px  ;width:62%;">
                        <div style="display: flex;width: 73%;"><span style="font-size: 10px  ;width: 65%;"></span></div>
                    </td>
                    <td style="font-size: 10px  ;width:23%; text-align:center;">State GST (6%)</td>
                    <td style="font-size: 10px  ;width:15%; text-align:center;"><span
                            style="font-size: 14px bold ;"><strong>240</strong></span></td>
                </tr>
            </tbody>
        </table>
        <div style="display: flex;">
            <div style="border: 1px;border-style: solid;width: 62%;">
                <div style="padding-left: 10px;padding-top: 7px; padding-bottom: 7px;"><span
                        style="font-size: 9px  ;">Certified that the particulars given above are true and correct & the
                        amount indicated represents the prices actually charged and that there is no flow if additional
                        consideration directly or indirectly from the buyer</span></div>
            </div>
            <div style="border: 1px;border-style: solid;width: 38%;">
                <table style="width:100%;">
                    <tbody>
                        <tr>
                            <td style="font-size: 10px  ;width:23%; text-align:center;">Integrated GST</td>
                            <td style="font-size: 10px  ;width:15%; text-align:center;">0.00</td>
                        </tr>
                    </tbody>
                </table>
                <table style="width:100%;">
                    <tbody>
                        <tr style="height: 20px;">
                            <td style="font-size: 10px  ;width:23%; text-align:center;">Grand Total</td>
                            <td style="font-size: 10px  ;width:15%; text-align:center;"><span
                                    style="font-size: 14px bold ;"><strong>4480</strong></span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div style="display: flex;">
            <div style="border: 1px;border-style: solid;width: 35%;">
                <div style="padding-left: 10px;padding-top: 7px; padding-bottom: 7px;padding-right: 10px;"><span
                        style="font-size: 9px  ;">I/We hereby certify that my/our registration certificate under the
                        good and service tax Act, 2017 is in force on the date on which the supply of the goods
                        specified in the Tax Invoice is made by me/us and that the transaction of Supply covered by this
                        Tax Invoice has been effected by me/us And it shall be accounted for in the turnover of supply
                        while filing of return and the due tax, if any payable on the supply has been paid or shall be
                        paid</span><br><span style="font-size: 9px ;"><strong>Subject to Pune Jurisdiction
                            only</strong></span></div>
            </div>
            <div style="border: 1px;border-style: solid;width: 27%;">
                <div style="padding-left: 10px;padding-top: 7px; padding-bottom: 7px;text-align: center;"><span
                        style="font-size: 9px  ;">Receivers Sign</span></div>
            </div>
            <div style="border: 1px;border-style: solid;width: 38%;">
                <div style="padding-left: 10px;padding-top: 7px; padding-bottom: 7px;text-align: center;"><span
                        style="font-size: 9px  ;">For PK Engineering</span><span style="font-size: 9px  ;">Authorised
                        Signatory</span></div>
            </div>
        </div>
    </div>
</body>