<div id="dvPrintVerification">
    <style>
        /* Inspection Result */
        .verfform {
            margin: 0px 0 0 0px;
            width: 100%;
            border: 1px solid #dbdbdb;
            clear: both;
        }

        .box-section .verfform {
            margin: 5px 0 0 0px;
            width: 100%;
            border: 1px solid #ededed;
            clear: both;
        }

        .colapse-section .verfform,
        .colapse-section .grid {
            margin-top: 5px;
        }

        .verfform td {
            font-family: "Segoe UI", arial, Helvetica, sans-serif;
            font-size: 12px;
            padding: 1px 1px 1px 1px;
            vertical-align: middle;
            color: #575957;
            position: relative;
        }


        .verfform tr.even td {
            background: #f9f9f9;
            border-bottom: 1px solid #dbdbdb;
            /*vertical-align: middle;*/
            vertical-align: top;
            position: relative;
        }

        .verfform tr.odd td {
            background: #fff;
            border-bottom: 1px solid #dbdbdb;
            /*vertical-align: middle;*/
            vertical-align: top;
            position: relative;
        }

        .verfform h2 {
            font-size: 18px;
            color: #000;
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: 1px dashed #ccc;
        }

        .verfform sup {
            color: Red;
        }

        .verfform h3 {
            font-size: 13px;
            color: #fff;
            font-weight: bold;
            border-bottom: 1px solid #c7c9c5;
            padding: 5px 5px;
            margin: 8px 5px 8px 0;
            background: #a6b296;
            text-shadow: 1px 1px 0px #7b8b66;
        }

        /* verfection Result */
    </style>
    <!-- Header -->

    <table style="width: 740px;margin-left: 10px;margin-right: 15px;margin-top: 10px;">
        <tbody>
            <tr>
                <td>
                    <br>
                    <br>
                    <div class="row" style="margin-top:10px;">
                        <div id="ltaLogo" style="float:right;padding-right:10px;padding-bottom:6px;">
                            <img src="/Content/images/logo-tr.jpg" style="width: 60px;height: 80px;">
                        </div>
                        <div style="width:85%;">
                            <span style="font-size:22px;color:#24a19c;font-weight:bold;">PK Engineering</span>
                            <br>
                            <span class="label">All Types of Engineering Works &amp; CNC Works</span>
                            <br>
                            <span class="label">Shop No. 494/04, Opp. Electro Pneumatic, Kharabwadi, Chakan Tal. Khed,Dist.Pune 410501</span>
                            <br>
                            <br>
                            <span class="label">GST No.</span><span><strong style="margin-left: 45px;">27BJFPK6140L1Z0</strong></span>
                            <br> 
                            <br>
                            <span class="label">Chalan No.</span><span><strong style="margin-left: 30px;">000179</strong></span>
                            <br>
                            <span class="label">Date</span><span><strong style="margin-left: 70px;">14/08/2020 2:30 PM</strong></span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <hr style="border: 4px solid black;" />
                    <br>
                    <div class="row" style="margin-top:10px;">
                        <div style="width:85%;">
                            <span class="label">To,</span>
                            <br>
                            <span class="label">Mahindra Auto, Pune</span>
                            <br>
                            <span class="label">Party GST no.: <strong>2345431678</strong></span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <table class="verfform" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td colspan="3">
                                        <table style="width:100%">
                                            <tbody>
                                                
                                                <tr>
                                                    <td style="vertical-align:top;" width="15%"> <span>P.O. No.</span>:
                                                    </td>
                                                    <td width="18%"><strong>5365</strong></td>
                                                    <td style="vertical-align:top;" width="15%"> <span>Date</span>:</td>
                                                    <td width="18%"><strong>14/08/2020</strong></td>
                                                </tr>
                                              <tr>
                                                    <td style="vertical-align:top;" width="15%"> <span>Party Chalan
                                                            No.</span>:</td>
                                                    <td width="18%"><strong>021506</strong></td>
                                                    <td style="vertical-align:top;" width="15%"> <span>Date</span>:</td>
                                                    <td width="18%"><strong>14/08/2020</strong></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <table  class="verfform" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="width:5%; text-align:center;">
                                                        Sr.No
                                                    </td>
                                                    <td style="width:35%; text-align:center;">
                                                        Item
                                                    </td>
                                                    <td style="width:30%; text-align:center;">
                                                        Quantity
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="row">
                        <table  class="verfform" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <table style="width:100%;">
                                            <tbody>
                                                <tr>
                                                    <td style="width:5%; text-align:center;">
                                                        1
                                                    </td>
                                                    <td style="width:35%; text-align:center;">
                                                        Job Type 5302
                                                    </td>
                                                    <td style="width:30%; text-align:center;">
                                                        1000
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="row">
                        <table class="form" style="width:98%">
                            <tbody>
                                <tr>
                                    <td>For Receiver: .....................</td>
                                    <td>For PK Engineering: .........................</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>

        </tbody>
    </table>
</div>