<div id="dvPrintVerification">
    <style>
        /* Inspection Result */
        .verfform {
            margin: 0px 0 0 0px;
            width: 100%;
            border: 1px solid #dbdbdb;
            clear: both;
        }

        .box-section .verfform {
            margin: 5px 0 0 0px;
            width: 100%;
            border: 1px solid #ededed;
            clear: both;
        }

        .colapse-section .verfform,
        .colapse-section .grid {
            margin-top: 5px;
        }

        .verfform td {
            font-family: "Segoe UI", arial, Helvetica, sans-serif;
            font-size: 12px;
            padding: 1px 1px 1px 1px;
            vertical-align: middle;
            color: #575957;
            position: relative;
        }


        .verfform tr.even td {
            background: #f9f9f9;
            border-bottom: 1px solid #dbdbdb;
            /*vertical-align: middle;*/
            vertical-align: top;
            position: relative;
        }

        .verfform tr.odd td {
            background: #fff;
            border-bottom: 1px solid #dbdbdb;
            /*vertical-align: middle;*/
            vertical-align: top;
            position: relative;
        }

        .verfform h2 {
            font-size: 18px;
            color: #000;
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: 1px dashed #ccc;
        }

        .verfform sup {
            color: Red;
        }

        .verfform h3 {
            font-size: 13px;
            color: #fff;
            font-weight: bold;
            border-bottom: 1px solid #c7c9c5;
            padding: 5px 5px;
            margin: 8px 5px 8px 0;
            background: #a6b296;
            text-shadow: 1px 1px 0px #7b8b66;
        }

        /* verfection Result */
    </style>
    <!-- Header -->

    <table style="width: 740px;margin-left: 10px;margin-right: 15px;margin-top: 10px;">
        <tbody>
            <tr>
                <td>
                    <br>
                    <br>
                    <div class="row" style="margin-top:10px;">
                        <div id="ltaLogo" style="float:right;padding-right:10px;padding-bottom:6px;">
                            <img src="/Content/images/logo-tr.jpg" style="width: 60px;height: 80px;">
                        </div>
                        <div style="width:85%;">
                            <span style="font-size:22px;color:#24a19c;font-weight:bold;">PK Engineering</span>
                            <br>
                            <span class="label">All Types of Engineering Works &amp; CNC Works</span>
                            <br>
                            <span class="label">Shop No. 494/04, Opp. Electro Pneumatic, Kharabwadi, Chakan Tal. Khed,Dist.Pune 410501</span>
                            <br>
                            <br>
                            <span class="label">GST No.</span><span><strong style="margin-left: 45px;">27BJFPK6140L1Z0</strong></span>
                        </div>
                    </div>
                    <br>
                    <br>
                    <hr style="border: 4px solid black;" />
                    <br>
                    <div class="row">
                        <table  class="verfform" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <table style="width:100%;" border="1">
                                            <tbody>
                                                <tr>
                                                    <td style="width:10%; text-align:center;">
                                                        Date
                                                    </td>
                                                    <td style="width:7%; text-align:center;">
                                                        Bill No.
                                                    </td>
                                                    <td style="width:25%; text-align:center;">
                                                        Party Name
                                                    </td>
                                                    <td style="width:20%; text-align:center;">
                                                        GST No.
                                                    </td>
                                                    <td style="width:13%; text-align:center;">
                                                        TAXABLE VALUE
                                                    </td>
                                                    <td style="width:6%; text-align:center;">
                                                        CGST @ 6%
                                                    </td>
                                                    <td style="width:6%; text-align:center;">
                                                        SGST @ 6%
                                                    </td>
                                                    <td style="width:13%; text-align:center;">
                                                        Total
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>

                    <div class="row">
                        <table  class="verfform" style="width:100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <table style="width:100%; " border="1">
                                            <tbody>
                                                <tr>
                                                    <td style="width:10%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        6/1/2019
                                                    </td>
                                                    <td style="width:7%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        198
                                                    </td>
                                                    <td style="width:25%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        DEEKSHA EXPORTS PVT LTD
                                                    </td>
                                                    <td style="width:20%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        27AACCD0324R1ZJ
                                                    </td>
                                                    <td style="width:13%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        4000
                                                    </td>
                                                    <td style="width:6%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        240
                                                    </td>
                                                    <td style="width:6%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        240
                                                    </td>
                                                    <td style="width:13%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        4480
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody>
                                                <tr>
                                                    <td style="width:10%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        6/1/2019
                                                    </td>
                                                    <td style="width:7%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        198
                                                    </td>
                                                    <td style="width:25%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        DEEKSHA EXPORTS PVT LTD
                                                    </td>
                                                    <td style="width:20%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        27AACCD0324R1ZJ
                                                    </td>
                                                    <td style="width:13%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        4000
                                                    </td>
                                                    <td style="width:6%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        240
                                                    </td>
                                                    <td style="width:6%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        240
                                                    </td>
                                                    <td style="width:13%; text-align:center;padding-bottom: 5px; padding-top: 5px;">
                                                        4480
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    
                    <br>
                </td>
            </tr>

        </tbody>
    </table>
</div>